<h1>Контакти</h1>
<br>
<br><br>
<div class="row">

    <div class="col-sm-6">
      <p>Град Зелениково, П.К. 2021</p>
      <p>Улица Цветен Мъх 11</p>
      <p>email: dushkovi-house@abv.bg</p>
      <p>Телефон: 00 123 456 789</p>
      <p>Лице за контакт: Диджи Джи</p>
      <br><br><br>

      <h5>Работно време: Понеделник - Неделя от 06:00 до 23:00</h5>
    </div>



    <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.25422008868!2d-74.14483151067051!3d40.697630744686414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbg!4v1685878688289!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>